*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*-------------------------------------------------------------------------------------------------------------*/
.rei{
    background: #b4ddfa;
    width: 100%;
    height: 100vh;
}
/*-------------------------------------------------------------------------------------------------------------*/
.menu{
    background: #68c9df;
    width: 100%;
    height: 100px;
}